<span class="material-icons" style="top: 15%; left: 15%;"> location_on </span>
<span class="material-icons" style="top: 25%; left: 45%;"> location_on </span>
<span class="material-icons" style="top: 35%; left: 35%;"> location_on </span>
<span class="material-icons" style="top: 45%; left: 25%;"> location_on </span>
<span class="material-icons" style="top: 65%; left: 15%;"> location_on </span>
<img width="100%" id="mapimg">
<!--
<div class="quadro lote">
    <app-lote [lotesListados]="lotesListados" 
    [dictLotesListados]="dictLotesListados" 
    [loteSelecionado]="'clf3c01'">
    </app-lote>
</div>
-->